point=5000
MONGO_URL=
JWT_SECRET=
ADMIN_NAME=SkillBridge
ADMIN_FIRSTNAME=Administrator
ADMIN_EMAIL=
ADMIN_PASSWORD=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=
